*{
    box-sizing: border-box;
}
#root{
    background-color: #93AD18;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}

h1{
    text-align: center;
}
.gridjs-head{

}
#listEmp{
    width: 90%;
    margin: auto;
}
#select-pagination{
    width: 200px;
    position: absolute;
    margin-left: 60px;
    top: 86px;
    z-index: 1;
    display: flex;
    align-items: middle;

}
#select-pagination label{
    display: block;
    /* padding-right: 30px; */
    font-weight: 700;
    margin-right: 10px;

}
.gridjs-search{
    float: right;
}
a{
    color: #fff;
}
a:hover{
    font-size: 20px;

}